<!DOCTYPE html>
<html>
    <head>
        <title>Stylesheet1</title>
        <link rel="stylesheet" href="./stylesheet1.css">
    </head>
    <body>
        <div class="banner">
        <h1 class="banner2">Welcome to My <a href="../main">Homepage</a></h1>        
        <h2><p class="banner3">Use the menu to select different Styleheres</p></h2>
        </div>
        <ul>
            <li class="li"><a href="./stylesheet01" style="background-color: green">Stylesheet 1</a></li>
            <li class="li"><a href="./stylesheet02">Stylesheet 2</a></li>
            <li class="li"><a href="./stylesheet03">Stylesheet 3</a></li>
            <li class="li"><a href="./stylesheet04">Stylesheet 4</a></li>
            <li class="li"><a href="./stylesheetno">No Stylesheet</a></li>       
        </ul>
        <div class="content">
        <h1>Same Page Different Stylesheets</h1>
        Style sheets represent a major breakthrough for Web page designers, expanding their ability to improve the appearance of their pages. In the scientific environments in which the Web was conceived, people are more concerned with the content of their documents than the presentation. As people from wider walks of life discovered the Web, the limitations of HTML became a source of continuing frustration and authors were forced to sidestep HTML's stylistic limitations. While the intentions have been good -- to improve the presentation of Web pages -- the techniques for doing so have had unfortunate side effects. These techniques work for some of the people, some of the time, but not for all of the people, all of the time.<br>
        <a href="./stylesheet01">Stylesheet 1</a>
        <a href="./stylesheet02">Stylesheet 2</a>
        <a href="./stylesheet03">Stylesheet 3</a>
        <a href="./stylesheet04">Stylesheet 4</a>
        <a href="./stylesheetno">No Stylesheet</a>
        <h2>Table</h2>
<table id="customers" border=1>
    <tbody>
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
        <tr class="alt">
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
        </tr>
        <tr class="alt">
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
        </tr>
        <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
        </tr>
        <tr class="alt">
            <td>Königlich Essen</td>
            <td>Philip Cramer</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
        </tr>
        <tr class="alt">
            <td>Magazzini Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
        </tr>
    </tbody>
</table>
        </div>
<div class="sidebar">
    <h2 class="sidebar2">Side Bar</a></h2>
    <p class="sidebar3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae aperiam quis nulla placeat necessitatibus amet qui. Unde, temporibus, aperiam at maxime provident, odio ipsam porro distinctio corrupti ullam recusandae sit?</p>
    </div>
    <div class="footer">
            <h2 class="footer2">footer</a></h2>
            <p class="footer3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae aperiam quis nulla placeat necessitatibus amet qui. Unde, temporibus, aperiam at maxime provident, odio ipsam porro distinctio corrupti ullam recusandae sit?</p>
            </div>
    </body>
</html>